<div class="iframe_content">

    <form name="form" method="post">
        <h2>busno</h2>

        <div class="offset">
            <div class="input_group">
                <label>busno</label>

                <div class="cutline"></div>
                <span>
                    <input type="text" name="count" ng-model="postData.name"/>
                </span>
            </div>
            <div class="input_group">
                <label>asd</label>

                <div class="cutline"></div>
                <span>
                    <input type="text" name="count" ng-model="postData.age"/>
                </span>
            </div>
        </div>
    </form>
</div>